*,
p,
h2,
a {
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body {
  direction: rtl;
  text-align: right;
  width: 100%;
  font-family: IRANSans;
  background: #4FC3F7;
  background: url('../macos-big-sur-apple-layers-fluidic-colorful-.jpg') fixed no-repeat;
  background-size: cover;
  color: #FAFAFA;
}

h2 {
  font-size: 26px;
}

.bg-brand {
  background: rgba(38, 38, 38, 0.2);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.35);
  backdrop-filter: blur(11.0px);
  -webkit-backdrop-filter: blur(11.0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.remove__list {
  color: #f44336;
  cursor: pointer;
  text-decoration: none !important;
  font-weight: bold;
  margin-top: 4px;
}

.remove__list:hover {
  color: #D50000;
}

.max-500 {
  max-width: 500px;
}

span#number {
  margin-left: 2px;
}

.print__icon img {
  width: 22px;
  height: 22px;
  max-width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-drag: none;
}

.print__icon img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#search__box {
  display: none;
}

@media print {
  .noPrint {
    display: none !important;
  }

  * {
    border-color: rgb(0 0 0 / 18%) !important;
  }

  .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    max-width: 100%;
  }

  .costs__text,
  .costs__price,
  .costs__title {
    color: #90A4AE !important;
  }
}